<header class="header-nav">
    <nav class="nav">
        <ul class="menu">
            <li class="menu-li"><a class="link" href="/">Inicio</a></li>
            <li class="menu-li"><a class="link" href="/servicios">Servicios</a></li>
            <li class="menu-li"><a class="link" href="/mascotas">Mascotas</a></li>
        </ul>
    </nav>
</header>